.navbar {
  /* padding-top: 20%; */
  /* padding-bottom: 10%; */
  height: 87vh;
  font-family: 'Share Tech Mono', monospace;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  margin-top: 60%;
  /* width: 30%; */
  /* margin: 0 auto; */
}
/*
.glitch:hover {
  text-align: center;
  font-size: 100px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  margin-left: -15px;
  color: transparent;
  text-shadow: 0px 0px 3px #eee, 5px 5px 2px teal, -5px -2px 2px maroon;
  font-weight: 400;
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
  -moz-animation: shift 4s ease-in-out infinite alternate;
  -webkit-animation: shift 4s ease-in-out infinite alternate;
  animation: shift 4s ease-in-out infinite alternate;
} */

.mini {
  font-size: 50px;
}

.divider-scroll {
  height: 100px;
  /* background-color: #48004e; */
  text-align: center;
  /* width: 100%; */
}

.icon-scroll {
  color: #dbdbdb;
  font-size: 100px;
  font-family: RobotoBold;
  text-
}

.icon-scroll:hover {
  /* animation: 2s scrollhover infinite; */
  cursor: pointer;
}

.icon-scroll:not(:hover){
  /* animation: 2s scrollnothover; */
}

.icon-scroll:active {
  color: rgb(51, 51, 51);
}


/* @media screen and (max-device-width: 600px) {
  .glitch {
    width: 10%;
  }
} */


.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 3px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: rgb(24, 24, 24);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}


.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -3px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: rgb(24, 24, 24);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.row {
  /* text-align: center; */
}

#content-scroll {
  opacity: 0;
}

#project-list {
  opacity: 0;
  margin-top: 5%;
}

#get-site {
  opacity: 0;
  margin-top: 4%;
  padding-top: 2%;
  padding-bottom: 6%;
  background-color: #0e0e0e;
}

/* .row-team {
  display: flex;
  flex-wrap: wrap;
}

.row-team > .col {
  display: flex;
} */

.card-content {
  padding-top: 5%;
  padding-bottom: 100px;
  padding-left: 10px;
  /* display: table-row; */
  /* position: relative; */
  width: 100%;
  height: 250px;
}
/* .card-content:hover { */
  /* transform: scale(1.05); */
  /* animation: 0.5s scaleBlock; */
  /* animation-fill-mode: both; */
/* } */

.card-head {
  padding-bottom: 100px;
  /* text-align: center; */
}

.card-icon {
  padding-right: 20px;
  color: #7d001e;
  font-size: 40px;
}

.card-name {
  font-size: 40px;
  color: #ffffff;
  font-family: RobotoBold;
  font-weight: bold;
  text-transform: uppercase;

}

.card-name:hover {
  text-decoration: line-through;
  text-decoration-color: #3d0042;
  cursor: pointer;
}

.card-text {
  color: #ffffff;
  text-align: justify;
  text-transform: uppercase;
  font-family: RobotoBold;
  background-color: rgba(23, 23, 23, 0.5);
}

.name-team {
  margin-top: 1%;
  text-align: center;
  padding-bottom: 1%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.team-text {
  color: #FFFFFF;
  font-size: 50px;
  font-family: RobotoBold;
  text-transform: uppercase;
}

#changelang {
  position: fixed;
  top: 95%;
  left: 1%;
  z-index: 10;
}
#changelang > a {
  color: #a3a3a3;
  font-family: RobotoBold;
  text-decoration: none;
  font-size: 15px;
}
#changelang > a:hover {
  color: #ffffff;
}

#card1 {
  background-image: url('../img/kir.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#card2 {
  background-image: url('../img/stas.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#card3 {
  background-image: url('../img/purh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#card4 {
  background-image: url('../img/antoha.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#card5 {
  background-image: url('../img/nikolaevna.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


#project1 {
  background-image: url('../img/fy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.red {
  color: rgb(255, 0, 0);
}

.card-links{
  padding-top: 10px;
}
.form-card {
  /* margin-left: 30%; */
  text-align: center;
}
.form-card > div {
  margin-top: 3%;
}
/* .select {
  margin-left: 31%;
} */
.drop {
  z-index: 10;
}

.form-text {
  color: rgb(255, 255, 255);
  font-family: RobotoBold;

}

.vk {
  padding-top: 10px;
  color: #ffffff;
  font-family: RobotoBold;
  text-decoration: none;
  font-size: 20px;
}

.vk:hover {
  color: #ababab;
}

#footer {
  background-color: #48004e;
  padding-top: 1%;
  color: rgb(134, 134, 134);
  font-family: RubikBold;
  font-size: 0.7vw;
  /* padding-bottom: 10px; */
  text-align: right;
}
.footer-copyright {
  background-color: #29002d;
  padding-bottom: 1%;
  padding-top: 20px;
  text-align: center;
  color: rgb(185, 180, 195);
}

.modal-ok, .modal-error  {
  display: none;
  position: fixed;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 20px;
  z-index: 200;
}

.content-ok, .content-error {
  display: none;
  width: 100%;
  min-width: 200px;
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 300;
  padding: 50px 0;
  font-family: RubikBold;

}

.footer-text > span > a {
  color: rgb(182, 182, 182);
  margin-left: 2px;
}

.content-error {
  background-color: rgba(52, 0, 0, 0.8);
  color: #ffffff;
}

.card-mg {
  margin-top: 0;
}

@media all and (min-width: 600px) {
  .card-mg {
    margin-top: 15px;
  }
}
