* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url('./fonts/ZCOOLQingKeHuangYou-Regular.ttf');
  font-family: 'Varela';
}

@font-face {
  src: url('./fonts/Rubik-Bold.ttf');
  font-family: 'RubikBold';
}

@font-face {
  src: url('./fonts/RobotoMono-Bold.ttf');
  font-family: 'RobotoBold';
}

body {
  background-color: rgb(24, 24, 24);
  overflow: hidden;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 7px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    animation: 10s scrollAnim infinite;
}
