Options All -Indexes
<FilesMatch ".(log)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

RewriteEngine On
Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f

RewriteRule ^([a-z]*)?/$ index.php?lng=$1 [QSA,L]
#RewriteRule ^download-app/$ download.php [QSA,L]
#RewriteRule ^professions/([a-z]*)?/?([0-9]*)?$ professions.php?act=$1&id=$2 [L]
#RewriteRule ^news/([0-9]+)/([A-Za-z0-9\+-_]+)/$ view_content.php?id=$1&name=$2 [L]
#RewriteRule ^admin/$ admin/login.php [QSA]

#ErrorDocument 403 /errors/403.html
#ErrorDocument 404 /errors/404.html
