Options All -Indexes

DirectoryIndex index.php

RewriteEngine On
Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f

RewriteRule ^.$ index.php? [QSA]

ErrorDocument 403 /error/403.html
ErrorDocument 404 /error/404.html
