@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f9lna');
  src:  url('fonts/icomoon.eot?f9lna#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f9lna') format('truetype'),
    url('fonts/icomoon.woff?f9lna') format('woff'),
    url('fonts/icomoon.svg?f9lna#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scroll:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-github:before {
  content: "\eab0";
}
.icon-html-five2:before {
  content: "\eae5";
}
